Carregamento das bibliotecas

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
#carregamento do dataset

dados_brutos = pd.read_csv('dados_consumo_total.csv')
dados_brutos = dados_brutos.drop(columns=['dps'])
dados_brutos.head()

,ligado,corrente,potencia,voltagem,nome_do_dispositivo,data_processamento
0,True,0.0,0.0,2253.0,Tomada 1,2024-04-09 23:59:04.656591
1,True,424.0,785.0,2166.0,Tomada 2,2024-04-09 23:59:04.656591
2,True,0.0,0.0,2177.0,Tomada 3,2024-04-09 23:59:04.656591
3,True,119.0,131.0,2163.0,Tomada 4,2024-04-09 23:59:04.656591
4,True,28.0,23.0,2165.0,Tomada 5,2024-04-09 23:59:04.656591

In [3]:
#criação de um novo dataset com as informações dos consumidores

consumidores = { 'nome_do_dispositivo': ['Tomada 1', 'Tomada 2', 'Tomada 3', 'Tomada 4', 'Tomada 5', 'Tomada 6', 'Tomada 7', 'Tomada 8', 'Tomada 9', 'Tomada 10'],
                 'dono_do_dispositivo': ['escritorio', 'doriel', 'doriel', 'doriel', 'escritorio', 'escritorio', 'escritorio', 'joao', 'joao', 'joao']}

dados_consumidores = pd.DataFrame(consumidores)
dados_consumidores.head()

  nome_do_dispositivo dono_do_dispositivo
0            Tomada 1          escritorio
1            Tomada 2              doriel
2            Tomada 3              doriel
3            Tomada 4              doriel
4            Tomada 5          escritorio

In [93]:
#criaçao de um novo dataset com informações de horário de uso de cada dispositivo por consumidor

horarios_consumo_tomada = {    'dia_da_semana': ['Segunda-feira','Terça-feira','Quarta-feira','Quinta-Feira','Sexta-feira','Sábado','Domingo'],
                'Tomada 1': [24, 24, 24, 24, 24, 24, 24],
                'Tomada 2': [7, 3, 3, 3, 7, 12, 12],
                'Tomada 3': [9, 9, 9, 9, 9, 0, 0],
                'Tomada 4': [16, 12, 12, 12, 16, 12, 12], 
                'Tomada 5': [24, 24, 24, 24, 24, 24, 24],
                'Tomada 6': [24, 24, 24, 24, 24, 24, 24],
                'Tomada 7': [2, 2, 2, 2, 2, 4, 4], 
                'Tomada 8': [10, 10, 10, 10, 10, 12, 12],
                'Tomada 9': [10,10, 10, 10, 10, 12, 12],
                'Tomada 10': [24, 24, 24, 24, 24, 24, 24]}

horarios_consumo = pd.DataFrame(horarios_consumo_tomada)
horarios_consumo

,dia_da_semana,Tomada 1,Tomada 2,Tomada 3,Tomada 4,Tomada 5,Tomada 6,Tomada 7,Tomada 8,Tomada 9,Tomada 10
0,Segunda-feira,24,7,9,16,24,24,2,10,10,24
1,Terça-feira,24,3,9,12,24,24,2,10,10,24
2,Quarta-feira,24,3,9,12,24,24,2,10,10,24
3,Quinta-Feira,24,3,9,12,24,24,2,10,10,24
4,Sexta-feira,24,7,9,16,24,24,2,10,10,24
5,Sábado,24,12,0,12,24,24,4,12,12,24
6,Domingo,24,12,0,12,24,24,4,12,12,24

In [5]:
#split do campo data_processamento em data, mes e hora
dados_brutos['dia'] = pd.to_datetime(dados_brutos.data_processamento).apply(lambda x:int(x.strftime('%d')))
dados_brutos['mes'] = pd.to_datetime(dados_brutos.data_processamento).apply(lambda x:int(x.strftime('%m')))
dados_brutos['hora'] = pd.to_datetime(dados_brutos.data_processamento).apply(lambda x:int(x.strftime('%H')))
dados_brutos['data_registro'] = dados_brutos['data_processamento'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').date())
dados_brutos

,ligado,corrente,potencia,voltagem,nome_do_dispositivo,data_processamento,dia,mes,hora,data_registro
0,True,0.0,0.0,2253.0,Tomada 1,2024-04-09 23:59:04.656591,9,4,23,2024-04-09
1,True,424.0,785.0,2166.0,Tomada 2,2024-04-09 23:59:04.656591,9,4,23,2024-04-09
2,True,0.0,0.0,2177.0,Tomada 3,2024-04-09 23:59:04.656591,9,4,23,2024-04-09
3,True,119.0,131.0,2163.0,Tomada 4,2024-04-09 23:59:04.656591,9,4,23,2024-04-09
4,True,28.0,23.0,2165.0,Tomada 5,2024-04-09 23:59:04.656591,9,4,23,2024-04-09
...,...,...,...,...,...,...,...,...,...,...
363098,True,80.0,100.0,2180.0,Tomada 6,2024-07-08 23:59:19.570516,8,7,23,2024-07-08
363099,True,0.0,0.0,2192.0,Tomada 7,2024-07-08 23:59:20.078521,8,7,23,2024-07-08
363100,True,96.0,47.0,2187.0,Tomada 8,2024-07-08 23:59:20.598976,8,7,23,2024-07-08
363101,True,2129.0,4605.0,2199.0,Tomada 9,2024-07-08 23:59:20.828804,8,7,23,2024-07-08
363102,True,76.0,70.0,2179.0,Tomada 10,2024-07-08 23:59:21.107141,8,7,23,2024-07-08

In [7]:
#inclusão da coluna dia da semana

DIAS = [
    'Segunda-feira',
    'Terça-feira',
    'Quarta-feira',
    'Quinta-Feira',
    'Sexta-feira',
    'Sábado',
    'Domingo'
]

dados_brutos['dia_da_semana'] = dados_brutos['data_registro'].apply(lambda x: DIAS[x.weekday()])
dados_brutos

,ligado,corrente,potencia,voltagem,nome_do_dispositivo,data_processamento,dia,mes,hora,data_registro,dia_da_semana
0,True,0.0,0.0,2253.0,Tomada 1,2024-04-09 23:59:04.656591,9,4,23,2024-04-09,Terça-feira
1,True,424.0,785.0,2166.0,Tomada 2,2024-04-09 23:59:04.656591,9,4,23,2024-04-09,Terça-feira
2,True,0.0,0.0,2177.0,Tomada 3,2024-04-09 23:59:04.656591,9,4,23,2024-04-09,Terça-feira
3,True,119.0,131.0,2163.0,Tomada 4,2024-04-09 23:59:04.656591,9,4,23,2024-04-09,Terça-feira
4,True,28.0,23.0,2165.0,Tomada 5,2024-04-09 23:59:04.656591,9,4,23,2024-04-09,Terça-feira
...,...,...,...,...,...,...,...,...,...,...,...
363098,True,80.0,100.0,2180.0,Tomada 6,2024-07-08 23:59:19.570516,8,7,23,2024-07-08,Segunda-feira
363099,True,0.0,0.0,2192.0,Tomada 7,2024-07-08 23:59:20.078521,8,7,23,2024-07-08,Segunda-feira
363100,True,96.0,47.0,2187.0,Tomada 8,2024-07-08 23:59:20.598976,8,7,23,2024-07-08,Segunda-feira
363101,True,2129.0,4605.0,2199.0,Tomada 9,2024-07-08 23:59:20.828804,8,7,23,2024-07-08,Segunda-feira
363102,True,76.0,70.0,2179.0,Tomada 10,2024-07-08 23:59:21.107141,8,7,23,2024-07-08,Segunda-feira

In [92]:
#Agrupamento dos dados de inferência 

dados_tratamento_agrupado_potencia = dados_brutos.groupby(['nome_do_dispositivo', 'hora', 'dia', 'mes', 'dia_da_semana'])['potencia'].mean().reset_index()
dados_tratamento_agrupado_voltagem = dados_brutos.groupby(['nome_do_dispositivo', 'hora', 'dia', 'mes', 'dia_da_semana'])['voltagem'].mean().reset_index()
dados_tratamento_agrupado_corrente = dados_brutos.groupby(['nome_do_dispositivo', 'hora', 'dia', 'mes', 'dia_da_semana'])['corrente'].mean().reset_index()
dados_tratamento_agrupado = pd.concat([dados_tratamento_agrupado_corrente, dados_tratamento_agrupado_potencia, dados_tratamento_agrupado_voltagem], axis=1)
dados_tratamento_agrupado = dados_tratamento_agrupado.iloc[:,[0,1,2,3,4,5,11,17]]

,nome_do_dispositivo,hora,dia,mes,dia_da_semana,corrente,potencia,voltagem
0,Tomada 1,0,1,4,Segunda-feira,0.000000,0.000000,2218.733333
1,Tomada 1,0,1,6,Sábado,29.769231,31.000000,2275.230769
2,Tomada 1,0,1,7,Segunda-feira,27.615385,29.153846,2248.769231
3,Tomada 1,0,2,4,Terça-feira,0.000000,0.000000,2220.800000
4,Tomada 1,0,2,5,Quinta-Feira,30.000000,31.000000,2173.000000
...,...,...,...,...,...,...,...,...
25798,Tomada 9,23,30,4,Terça-feira,159.000000,33.000000,2186.000000
25799,Tomada 9,23,30,5,Quinta-Feira,1922.142857,4253.714286,2230.500000
25800,Tomada 9,23,30,6,Domingo,723.250000,1419.083333,2219.333333
25801,Tomada 9,23,31,3,Domingo,2078.714286,4479.571429,2201.000000
25802,Tomada 9,23,31,5,Sexta-feira,846.285714,1709.142857,2245.928571

In [145]:
# for dia in horarios_consumo.dia_da_semana:
#     teste = horarios_consumo[horarios_consumo['dia_da_semana'] == dia]
horario_consumo_index = horarios_consumo.set_index('dia_da_semana') 
dic = horario_consumo_index.to_dict()
dados_tratamento_agrupado = dados_tratamento_agrupado.copy()
dados_tratamento_agrupado['uso_dia'] = dados_tratamento_agrupado.apply(lambda row: dic[row['nome_do_dispositivo']][row['dia_da_semana']], axis=1)

In [146]:

dados_tratamento_agrupado.set_index(['nome_do_dispositivo', 'dia_da_semana'])
horarios_consumo.to_dict().keys()

dict_keys(['dia_da_semana', 'Tomada 1', 'Tomada 2', 'Tomada 3', 'Tomada 4', 'Tomada 5', 'Tomada 6', 'Tomada 7', 'Tomada 8', 'Tomada 9', 'Tomada 10'])

Separação da base em treino e teste

In [147]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [148]:
def funcao_categorica (df, coluna, transformer=None):
    return_transformer = False 
    if transformer is None:
        transformer = OneHotEncoder()
        df_transformed = transformer.fit_transform(df[coluna].values.reshape(-1,1)).todense()
        return_transformer = True
    else:
        df_transformed = transformer.transform(df[coluna].values.reshape(-1,1)).todense()
    df_transformed = pd.DataFrame(df_transformed, columns=transformer.get_feature_names_out())
    df_transformed.columns= [column.replace('x0_', '') for column in df_transformed.columns]
    df_transformed.index = df.index
    df_transformed = pd.concat([df, df_transformed], axis=1)
    df_transformed = df_transformed.drop(columns=coluna)
    if return_transformer:
        return df_transformed, transformer
    return df_transformed

In [149]:
import pandas as pd

# Ordenar os dados cronologicamente
df_sorted = dados_tratamento_agrupado.sort_values(by=['nome_do_dispositivo', 'mes', 'dia', 'hora']).reset_index(drop=True)

# Lista para armazenar DataFrames de treino e teste por dispositivo
train_list = []
test_list = []

train_ratio = 0.8  # Proporção de treino

# Iterar sobre cada dispositivo
for device_name, group in df_sorted.groupby('nome_do_dispositivo'):
    # Garantir que o grupo está ordenado temporalmente
    group = group.sort_values(by=['mes', 'dia', 'hora']).reset_index(drop=True)
    
    # Determinar o índice de divisão baseado no tempo
    total_rows = len(group)
    split_index = int(total_rows * train_ratio)
    
    # Dividir o grupo em treino e teste
    train_group = group.iloc[:split_index]
    test_group = group.iloc[split_index:]
    
    # Adicionar aos DataFrames de treino e teste
    train_list.append(train_group)
    test_list.append(test_group)

# Concatenar todos os grupos de treino e teste
train_df = pd.concat(train_list).reset_index(drop=True)
test_df = pd.concat(test_list).reset_index(drop=True)

# Aplicar a função para dividir os dados
xtrain = train_df.drop(columns = 'potencia')
ytrain = train_df['potencia']
xtest = test_df.drop(columns = 'potencia')
ytest = test_df['potencia']

In [150]:
xtrain,transformds = funcao_categorica(xtrain, 'dia_da_semana')
xtrain,transformnd = funcao_categorica(xtrain, 'nome_do_dispositivo')
xtrain,transformhd = funcao_categorica(xtrain, 'hora')
xtrain,transformdd = funcao_categorica(xtrain, 'dia')


xteste = funcao_categorica(xtest, 'dia_da_semana', transformds)
xteste = funcao_categorica(xteste, 'nome_do_dispositivo', transformnd)
xteste = funcao_categorica(xteste, 'hora', transformhd)
xteste = funcao_categorica(xteste, 'dia', transformdd)

In [151]:
for column1, column2 in zip(xtrain.columns, xteste.columns):
    if column1 != column2:
        print(column1, column2)